@font-face {
	font-family: 'Charis SIL';
	src: local('Charis SIL'), 
		url('./fonts/CharisSIL-Regular.woff2') format('woff2'), 
		url('./fonts/CharisSIL-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Charis SIL';
	src: local('Charis SIL Italic'), 
		url('./fonts/CharisSIL-Italic.woff2') format('woff2'), 
		url('./fonts/CharisSIL-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Charis SIL';
	src: local('Charis SIL Bold'), 
		url('./fonts/CharisSIL-Bold.woff2') format('woff2'), 
		url('./fonts/CharisSIL-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Charis SIL';
	src: local('Charis SIL Bold Italic'), 
		url('./fonts/CharisSIL-BoldItalic.woff2') format('woff2'), 
		url('./fonts/CharisSIL-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
