@import url(CharisSIL.css);

body {
	font-size: 16px;
	background-color: #111;
	color: #ccc;
	margin: 0 auto;
	padding: 0 1em 1em 1em;
}

:lang(zh-HK) {
	font-family: Roboto, 'Source Han Sans C', 'Source Han Sans K', 'Noto Sans CJK KR', sans-serif;
}

:lang(zh-Latn), :lang(zh-Cyrl) {
	font-family: 'Charis SIL', serif;
	font-style: italic;
}

:lang(zh-Latn-fonipa) {
	font-style: normal;
}

a {
	color: deepskyblue;
	text-decoration: none;
}

.desc {
	font-size: 0.67em;
}
