body {
	background-color: #111;
	color: #ccc;
	margin: 0 auto;
	padding: 0 1em 1em 1em;
}

:global(:lang(zh-HK)) {
	font-family: Roboto, 'Source Han Sans C', 'Source Han Sans K', 'Noto Sans CJK KR', sans-serif;
}

:lang(zh-x-fonipa) {
	font-family: 'Charis SIL', 'Source Han Sans C', 'Source Han Sans K', 'Noto Sans CJK KR', serif;
}

h1 {
	font-family: Roboto, 'Source Han Serif C', 'Source Han Serif K', 'Noto Serif CJK KR', sans-serif;
}
